.Challenge1 {
  h2 {
    color: green;
  }

  .flagContainer1 {
    width: 300px;
    height: 200px;
    border: 1px dotted black;
    display: inline-block;
    margin: 1rem;
  }

  .flagExample {
    max-width: 100px;
    max-height: 100px;
    margin: 1em 3em;
  }

  .FlagOfJapan {
    background-color: lightblue;
    background-color: white;
    position: relative;
    width: 280px;
    height: 180px;
    border: 10px solid lightgray;
  }

  .FlagOfJapanInnerDiv {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 40px;
    left: 90px;
  }

  .FlagOfEngland {
    background-color: white;
    position: relative;
    width: 280px;
    height: 180px;
    border: 10px solid lightgray;
  }
  .FlagOfEnglandInnerDiv1 {
    background-color: red;
    width: 20px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 130px;
  }
  .FlagOfEnglandInnerDiv2 {
    background-color: red;
    width: 280px;
    height: 20px;
    position: absolute;
    top: 80px;
    left: 0px;
  }

  .FlagOfUAE {
    background-color: white;
    position: relative;
    width: 280px;
    height: 180px;
    border: 10px solid lightgray;
  }
  .FlagOfUAEInnerDiv1 {
    background-color: red;
    width: 60px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0px;
  }
  .FlagOfUAEInnerDiv2 {
    background-color: darkgreen;
    width: 220px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 60px;
  }
  .FlagOfUAEInnerDiv3 {
    background-color: white;
    width: 220px;
    height: 60px;
    position: absolute;
    top: 60px;
    left: 60px;
  }
  .FlagOfUAEInnerDiv4 {
    background-color: black;
    width: 220px;
    height: 60px;
    position: absolute;
    top: 120px;
    left: 60px;
  }
}
